<div class="row">
  <div class="col-md-4">
    <center>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
      <h3 class="media-heading">Joe Sixpack
          <small>USA</small>
      </h3>
      <a href="https://twitter.com/bootdey" class="btn btn-info btn-xs">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
      <a href="https://facebook.com/bootdey" class="btn btn-primary btn-xs">
        <i class="fa fa-facebook"></i>
        Facebook
      </a>
      <a href="https://plus.google.com/+Bootdey-bootstrap/posts" class="btn btn-danger btn-xs">
        <i class="fa fa-google-plus"></i>
        Google +
      </a>
    </center>
  </div>
  <div class="com-md-8">
    
  </div>
</div>
