<h2>We want to help you find a team</h2>
<p>
  <big>
    Tempel.tech is a place where you can find people which interested in your
    project.
  </big>
</p>

<h2>We want to help you find a project</h2>
<p>
  <big>
    Tempel.tech is a place where you can find project that you are interested in.
  </big>
</p>

<h2>We want to help you do the best you can </h2>
<p>
  <big>
    Now you do not have to explain every time the structure of your project.
    Using <span type="button" class="about-notes" data-toggle="tooltip"
    data-placement="top" title="" data-original-title="Release soon">notes</span>
    , new team members will be able to quickly dive into the development.
  </big>
</p>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
