<div class="tour">

  <h1 class="tour-header">Welcome to tempel.tech</h1>

  <p class="tour-subheader">
    <big>
      <b>tempel.tech</b>
      is site where you can find a team.
      <br>
      Let me introduce you our main features
    </big>
  </p>

  <h3>
    Create Projects
  </h3>
  <div class="row block">
    <div class="col-sm-6">
      Each project have name, short description, description and tags.
      <br>
      Short descirption and tags are located in projects list.
      <br>
      Full description and members list are located on project page.
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <a class="project-name" href="#">tempel.tech</a>
          <p>Site where you can find a team
          </p>
          <span class="label label-default">Ruby</span>
          <span class="label label-default">Ruby on Rails</span>
          <span class="label label-default">Design</span>
        </div>
      </div>
    </div>
  </div>

  <h3>
    Edit description
  </h3>
  <div class="row block">
    <div class="col-sm-6">
      Description will be on project page and it should cover most of all technical details. Supported markdown and have awesome editor. Helps people understand what your project about
    </div>
    <div class="col-sm-6">
      <div id="wmd-button-bar-description"></div>
      <textarea preview="true" rows="5" class="wmd-input form-control" id="wmd-input-description" name="project[description]">Awesome description</textarea>
    </div>
  </div>

  <h3>
    Manage Requests
  </h3>
  <div class="row block">
    <div class="col-sm-6">
      When project created anyone can send requests to join it.
      <br>
      On edit page you can accept or decline request.
      <br>
      After accepting you can contact with any social services you want.
      <br>
      <i>We are recommend <a href="https://telegram.org" class="link-success">Telegram</a></i>
    </div>
    <div class="col-sm-6">
      <div class="well bs-component">
        <div class="row request">
          <div class="media col-sm-9">
            <div class="media-body">
              <img class="img-circle avatar pull-left" src="/images/face.jpg">
              <h3 class="media-heading">
                <a href="#">Adam N.</a>
              </h3>
              <p class="small">Developer</p>
            </div>
          </div>
          <div class="col-sm-3 links ">
            <a class="btn btn-success btn-sm" rel="nofollow" data-method="patch" href="#">
              <i class="fa fa-check"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="nofollow" data-method="patch" href="#">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>
    Bump projects
  </h3>
  <div class="row block">
    <div class="col-sm-6">
      Every new project starts at top of the list and then fall down.
      <br>
      Every 24 hours you can bump project to return to the top.
      <br>
      Only creator of project can bump it.
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <div class="project-name">
            tempel.tech
            <a class="btn btn-default pull-right right-menu" rel="nofollow" data-method="put" href="#">Bump project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>
    Connect with Trello and Slack
  </h3>
  <div class="row block">
    <div class="col-sm-6">
      Each member of your team have access to links.
      <br>
      Share with team project trello board, Slack channel
      <br>
      and Telegram join group link.
    </div>
    <div class="col-sm-3 col-sm-offset-3 project">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Links</h3>
        </div>
        <div class="panel-body">
          <a href="https://slack.com" class="menu-link btn"><img src="/images/slack.svg" alt="Slack"></a>
          <a href="https://trello.com/" class="menu-link btn"><img src="/images/trello.png" alt="Trello"></a>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="row block">
    <div class="col-sm-6">
      <h3>Looking for team</h3>
      <p>
        The best way to create popular project is find a team and start developing right now!
        Do not wait - launch your startup now!
      </p>
      <%= link_to 'Create project', new_project_path ,class: "btn btn-success" %>    </div>
    <div class="col-sm-6">
      <h3>Looking for project</h3>
      <p>
        Start developing products and learn new technologies right now! <br>
        The world is at your feet: — you chose where to start
      </p>
      <%= link_to 'Find a team', projects_path ,class: "btn btn-success" %>
    </div>
  </div>
<% else %>
  <h3>
    You are not logged in
  </h3>
  <div class="row block login">
    <div class="col-sm-5">
      <%= link_to 'Sign In', new_user_session_path,class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-sm-2">
      <big>OR</big>
    </div>
    <div class="col-sm-5">
      <%= link_to 'Sign Up', new_user_registration_path ,class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<% end %>

</div>
