<H1>GitHub</H1>
<p>
  <big>
    We are refactoring tempel.tech code now and we will publish it in September.
    If you want to help <%= link_to 'contact', page_path('contact')%> with us.
  </big>
</p>
