<div class="row">
  <h1>Listing Projects 
    <small>
      <span class="btn-group pull-right">
        <%= link_to 'New Project', new_project_path , class: 'btn btn-default'%>
      </span>
    </small>
  </h1>


  <% @projects.each do |project| %>
    <div class="thumbnail">
      <div class="caption">
        <%= link_to project.name, project, class: "project-name" %>
        <p><%= project.short_description %></p>
        <a href='#' class="label label-default">alice</a>
      </div>
    </div>
  <% end %>
  <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
</div>

