// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  .project-name {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    line-height: 35px;
    font-size: 300%;
  }

  .menu-link {
    display: block;
    background-color: $gray-lighter;
    margin-bottom: 10px;
    
    font-size: 20px;

    img {
      width: auto;
      height: 32px;
    }
    
    &:active,&:hover {
      background-color: $gray-light;
    }
  }


  .user {
    overflow: hidden;
    .name {
      line-height: 50px;
    }
  }

  .user + .user {
    margin-top: 15px; 
  }

  .avatar {
    margin-right: 10px; 
    max-width: 50px;
    height: auto;
    clear: both;
  }
}

.project-name {
  font-weight: 500;
  font-size: 200%;
}

