// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-form {
  margin-bottom: 20px;
}

.project {
  .project-name {
    border-bottom: 1px solid #ddd;
  }
  .user {
    overflow: hidden;
    .name {
      line-height: 50px;
    }
  }

  .user + .user {
    margin-top: 15px; 
  }

  .avatar {
    margin-right: 10px; 
    width: 50px;
    height: auto;
    clear: both;
  }
}